<div class='form-container'>
<div class="wrapper-white">

  <h2 class='font-header-app'><%= t('.title', resource: "mon compte") %></h2>

  <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
    <%= f.error_notification %>

    <div class="form-inputs font-header-app">
      <%= f.input :email, required: true, autofocus: true %>

      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
      <% end %>

      <%= f.input :password, autocomplete: "off", hint: t('.leave_blank_if_you_don_t_want_to_change_it'), required: false %>
      <%= f.input :password_confirmation, required: false %>
      <%= f.input :current_password, hint: t('.we_need_your_current_password_to_confirm_your_changes'), required: true %>
    </div>

    <div class="flex-box-right">
      <div class="form-actions font-header-app">
        <%= f.button :submit, t('.update'), class:'btn-bordered btn-bordered-primary-on-grey-background' %>
      </div>
    </div>
  <% end %>

  <h3 class='font-header-app'><%= t('.cancel_my_account') %></h3>

  <p class='font-header-app'><%= t('.unhappy') %>? <%= link_to t('.cancel_my_account'), registration_path(resource_name), data: { confirm: t('.are_you_sure') }, method: :delete %></p>

  <%= link_to t('devise.shared.links.back'), :back, class:'font-header-app' %>

</div>
</div>
</div>
