<%= form_tag bookmark_path, method: :delete, remote: true, id: 'article' do %>
  <div class='unbookmark-parent'>
    <% if local_assigns[:story] %>
      <%= hidden_field_tag "article[aylien_id]", story.aylien_id %>
    <% else %>
      <%= hidden_field_tag "article[aylien_id]", article.aylien_id %>
    <% end %>
    <%= button_tag '', class: 'unbookmark icon button-tag button-tag-bookmark' do %>
      <%= image_tag 'icone/bookmark_full_blue.png' %>
    <% end %>
  </div>
<% end %>
