<% if @selected_stories.empty? %>

  <div class='container'>
    <div class="flex-box-space-around catchline wrapper-white font-header-app">
      <div>
        <h2 class= "font-header-app">Aucun article trouvé pour <em><%= @topic_search %></em>.</h2>
        <h2 class= "font-header-app">Modifiez votre recherche :</h2>
      </div>
      <%= render 'shared/search_bar', value: @topic_search %>
    </div>
    <%= link_to root_path do %>
      <%= image_tag "icone/hedgenews_logo.FF682F.png", class: "animate-logo" %>
    <%end%>
  </div>

<% else %>
  <div class="container">
    <div class="flex-box-space-around font-header-app">
      <div class = "wrapper-white">
        <div>
          <h2 class="font-header-app"><%= pluralize(@selected_stories.count, 'article selectionné', plural: 'articles sélectionnés')%>  parmi <%= @stories.count %> pour <em><%= @topic_search %></em></h2>
        </div>
        <%= render 'shared/search_bar', value: @topic_search %>
      </div>
    </div>
    <div class="flex-box-center">
      <a href="#" class="btn btn-bordered btn-bordered-primary btn-bordered-primary-on-grey-background open-all">Lire tous les articles complets</a>
      <%= content_tag :div, class: "selected_urls", data: {url: @selected_urls} do %>
      <% end %>
    </div>
    <br>
  </div>

  <div class='container'>
    <div class='row-fix'>
      <% @selected_stories.each do |story| %>
        <div class='card'>
          <h3><%= link_to story.links.permalink, target: '_blank' do %></h3>
            <div class='image-article-card'>
              <% unless story.media.empty?%>
                <%= image_tag story.media[0].url %>
              <% end %>
            </div>
          <% end %>
          <div class="panel article-panel card-body">
            <div class="panel-heading">
              <h3><%= link_to story.title, story.links.permalink, target: '_blank' %></h3>
              <h5><strong><%= Source.where(aylien_id: story.source.id.to_i).first.name %></strong></h5>
              <h6>Publié il y a <%= distance_of_time_in_words(story.published_at, Time.now) %> par <strong><%= story.author.name %></strong></h6>
              <ul class= "list-inline">
                <li><i class="fa fa-clock-o" aria-hidden="true"></i></li>
                <li><h6><%= time_to_read(story.words_count) %></h6></li>
              </ul>

              <% if current_user %>
                <% if current_user.articles.include?(Article.find_by_aylien_id(story.id)) %>
                  <div class='unbookmark-parent'>
                    <%= form_tag bookmark_path, method: :delete, id: 'article' do %>
                      <%= hidden_field_tag "article[aylien_id]", story.id %>
                      <%= submit_tag 'Unbookmark', class: 'btn btn-info unbookmark' %>
                      <div class="unbookmark-confirmation">Article unbookmarked !</div>
                    <% end %>
                  </div>
                <% else %>
                  <%= form_tag bookmark_path, method: :post, id: 'article' do %>
                    <div class='bookmark-parent'>
                      <%= hidden_field_tag "article[source_id]", Source.where(aylien_id: story.source.id.to_i).first.id %>
                      <%= hidden_field_tag "article[title]", story.title %>
                      <%= hidden_field_tag "article[date]", story.published_at %>
                      <%= hidden_field_tag "article[abstract]", story.summary.sentences.join("\n") %>
                      <%= hidden_field_tag "article[words_count]", story.words_count %>
                      <%= hidden_field_tag "article[time_to_read]", time_to_read(story.words_count) %>
                      <%= hidden_field_tag "article[aylien_id]", story.id %>
                      <%= hidden_field_tag "article[source_url]", story.links.permalink %>
                      <%= submit_tag 'Bookmark', class: 'btn btn-primary bookmark' %>
                      <%= submit_tag 'Article bookmarked !', class: 'btn btn-info bookmark-confirmation' %>
                    </div>
                  <% end %>
                <% end %>
              <% end %>


  <!--             <h6><%= story.words_count %> mots | <%= story.sentiment %></h6> -->
            </div>
            <div class="panel-body">
              <p><%=story.summary.sentences.join("\n") %></p>
              <!-- <p><%= story.body %></p> -->
            </div>
            <div class="panel-body">
              <h6><strong>Contexte :</strong></h6>
              <h6>A propos de <%= Source.where(aylien_id: story.source.id.to_i).first.name %></strong></h6>
              <p><%= Source.where(aylien_id: story.source.id.to_i).first.presentation %></p>
            </div>
            <div class="flex-box-center">
              <%= link_to "Lire l'article complet", story.links.permalink, class: "btn btn-bordered btn-bordered-info", target: '_blank' %>
              <%= link_to "Découvrir une opinion différente", @hash_source_url[@opposite_media[Source.where(aylien_id: story.source.id.to_i).first.name]], class: "btn btn-bordered btn-bordered-primary" , target: '_blank'%>
            </div>

          </div>
        </div>
      <% end %>
    </div>
  </div>

  <div class="container text-center">
    <%= link_to root_path do %>
      <%= image_tag "icone/rewind.FF682F.png", class: 'image-small' %>
    <%end%>
  </div>

<% end %>

<% content_for(:after_js) do %>
  <script>
    $(document).ready(function(){

      $('.bookmark-confirmation').hide();
      $('.unbookmark-confirmation').hide();

      window.scroll(0, 140);

      $('#topic_search').click(function(){
        $(this).val("");
      });


      $('a.open-all').click(function(e) {
        e.preventDefault();
        $('.selected_urls').data('url').forEach(function(url_source) {
          window.open(url_source);
          // if(!win){
          //   //Broswer has blocked it
          //   alert('Please allow popups for this site');
          // }
        });
      });

      $('.bookmark').click( function() {
        // setTimeout(function() {}, 10);
        $(this).hide(50);
        $(this).closest('.bookmark-parent').children('.bookmark-confirmation').show(50);
      });

      $('.unbookmark').click( function() {
        $(this).hide(50);
        $(this).closest('.unbookmark-parent').children('.unbookmark-confirmation').show(50);
      });


    })
  </script>
<% end %>
