<div class="topic-card topic-card-topics-index">

  <%= link_to topic_path(topic) do %>
    <div class="topic-card-image" style="background-image: linear-gradient(135deg, rgba(0,0,0,0.8) 0%, rgba(0,0,0,0.2) 90%), url('<%= image_path topic.articles.first.pic_url %>')" >

      <h1><%= topic.name %></h1>

    </div>
  <% end %>

  <div class="panel">
    <div class="panel-body">
      <div class="topic-card-legend">
        <p class= "font-header-app"><%= topic.number_sources %> Sources - <%= topic.articles.count %> Articles </p>
        <div class="flex-box-space-around font-header-app" >
          <%= link_to 'Prévisualiser', topic_path(topic) %>
          <%= link_to 'Relancer la recherche', articles_path(topic_search: topic.name) %>
          <%= link_to 'Éditer', edit_topic_path(topic) %>
        </div>
        <br>
        <div class="flex-box-center">
          <%= form_tag topic_path(topic), method: :delete do %>
            <%= button_tag 'Supprimer', class: 'text-blue suppress button-tag font-header-app' %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
