<div class="topic-card">
  <%= link_to articles_path(topic_search: topic.name) do %>
    <div class="topic-card-image" style="background-image: url(<%= image_path topic.image_url %>)" >
      <h1><%= topic.name %></h1>

    </div>
  <%end%>

  <div class="panel">
    <div class="panel-body">
      <div class="topic-card-legend">
        <p class= "font-header-app"><%= topic.number_sources %> Sources - <%= topic.articles.count %> Articles </p>
        <div class="flex-box-space-around font-header-app" >
          <%= link_to 'Prévisualiser', topic_path(topic) %>
          <%= link_to 'Relancer la recherche', articles_path(topic_search: topic.name) %>
          <%= link_to 'Éditer', edit_topic_path(topic) %>
        </div>
        <div class="flex-box-center">
          <%= form_tag topic_path(topic), method: :delete do %>
            <%= submit_tag 'Supprimer', class: 'btn btn-bordered btn-bordered-info suppress' %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>


<% content_for(:after_js) do %>
  <script>
    $(document).ready(function(){

      $('.suppress').click( function() {
        $(this).closest('.topic-card').fadeOut('slow', function(){
          $(this).remove();
        });
      });

    })
  </script>
<% end %>
