<div class="topic-card">
  <%= link_to articles_path(topic_search: topic.name) do %>
    <div class="topic-card-image" style="background-image: url(<%= image_path topic.image_url %>)" >
      <h1><%= topic.name %></h1>

    </div>
  <%end%>

  <div class="panel">
    <div class="panel-body">
      <div class="topic-card-legend">
        <p class= "font-header-app"><%= topic.number_sources %> Sources - <%= topic.articles.count %> Articles </p>
        <p class="font-header-app"><%= link_to 'Visualiser', articles_path(topic_search: topic.name) %></p>
        <p class="font-header-app"><%= link_to 'Éditer', class: 'btn btn-bordered btn-bordered-info suppress' %></p>
        <%= form_tag topic_path, method: :delete, id: 'topic' do %>
          <%= hidden_field_tag "topic[id]", topic.id %>
          <%= submit_tag 'Supprimer', class: 'btn btn-bordered btn-bordered-info suppress' %>
        <% end %>
      </div>
    </div>
  </div>
</div>


<% content_for(:after_js) do %>
  <script>
    $(document).ready(function(){

      $('.suppress').click( function() {
        $(this).closest('.topic-card').fadeOut('slow', function(){
          $(this).remove();
        });
      });

    })
  </script>
<% end %>
