<div class="container">
  <div id="search-wrapper" class="wrapper-white">
    <div>
      <% if @topics.empty? %>
        <h2 class="font-header-app">Vous n'avez pas encore créé de revues de presse</h2>
        <h4 class= "font-header-app">Faites une recherche pour trouver des sujets intéressants, que vous pourrez ajouter à cette section :</h4>
        <%= render 'shared/search_bar', value: "" %>
      <% else %>
        <%= render 'shared/search_bar', value: "" %>
        <h2 id="number_topics_bookmarked", class="font-header-app"><%= pluralize(@topics.count, 'revue de presse sauvegardée', plural: 'revues de presse sauvegardées')%></h2>
        <div class="topics_bookmarked" data-number="<%= @topics.count %>"></div>
      <%end%>
    </div>
  </div>

  <div class="flex-box-center">
    <%if current_user %>
      <a href="#" id="create-press-review" class="btn btn-bordered btn-bordered-primary btn-bordered-primary-on-grey-background">Créer une nouvelle revue de presse</a>
    <% end %>
  </div>

  <div class="row" >
    <div class="col-xs-12">
      <div id="search-bar-create-topic" class="flex-box-space-around catchline padding-home-search-bar wrapper-white font-header-app hidden">
        <%= render 'shared/search_bar', value: nil %>
      </div>
    </div>
  </div>

  <div class="row">
    <% @topics.order(:created_at).reverse.each do |topic| %>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <%= render 'topic_card', topic: topic %>
      </div>
    <% end %>
  </div>
</div>

<% content_for(:after_js) do %>
  <script>
    $(document).ready(function(){

      // Delete bookmarked topic on click
      $('.suppress').click( function() {
        var nbtopic = $('.topics_bookmarked').data('number')
        nbtopic = nbtopic - 1;

        $('.topics_bookmarked').data('number', nbtopic);

        $(this).closest('.topic-card').fadeOut('slow', function(){
          $(this).remove();
        });
        $('#number_topics_bookmarked').html(nbtopic + " revue(s) de presse sauvegardée(s)");
      });


      // Make search bar appear when create press review button clicked
      $("#create-press-review").click(function(e){
        $("#search-bar-create-topic").removeClass("hidden");
      });
    })
  </script>
<% end %>
