<% if @topic.articles.empty? %>

  <div class='container'>
    <div class="flex-box-space-around catchline wrapper-white font-header-app">
      <div>
        <h2 class= "font-header-app">Aucun article dans la revue de presse <em><%= @topic.name %></em>.</h2>
        <h4 class= "font-header-app">Faites une recherche pour trouver des articles intéressants, que vous pourrez ajouter à votre revue de presse :</h4>
        <%= render 'shared/search_bar', value: "" %>
      </div>
    </div>
    <%= link_to root_path do %>
      <%= image_tag "icone/hedgenews_logo.FF682F.png", class: "animate-logo" %>
    <%end%>
  </div>

<% else %>
  <div class="container">
    <div class="flex-box-space-around font-header-app">
      <div id="search-wrapper" class="wrapper-white">
        <div>
          <%= render 'shared/search_bar', value: "" %>
          <h2 class="font-header-app"><%= pluralize(@topic.articles.count, 'article selectionné', plural: 'articles sélectionnés')%> pour la revue de presse sur <em>"<%= @topic.name %>"</em></h2>
        </div>
      </div>
    </div>
    <div class="flex-box-center">
      <a href="#" class="btn btn-bordered btn-bordered-primary btn-bordered-primary-on-grey-background open-all">Lire tous les articles complets</a>
      <%= content_tag :div, class: "selected_urls", data: {url: @selected_urls} do %>
      <% end %>
    </div>
    <br>
    <div class="flex-box-center" >
      <div id="search-wrapper">
        <%= render 'shared/index_articles', value: @selected_articles %>
      </div>
    </div>
  </div>


  <div class="container text-center">
    <%= link_to topics_path do %>
      <%= image_tag "icone/rewind.FF682F.png", class: 'image-small' %>
    <%end%>
  </div>

<% end %>

<% content_for(:after_js) do %>
  <script>
    $(document).ready(function(){

      window.scroll(0, 60);

      $('#topic_search').click(function(){
        $(this).val("");
      });

      $('a.open-all').click(function(e) {
        e.preventDefault();
        $('.selected_urls').data('url').forEach(function(url_source) {
          setTimeout(function() {}, 1000);
          window.open(url_source);
          self.focus();
          // if(!win){
          //   //Broswer has blocked it
          //   alert('Please allow popups for this site');
          // }
        });
      });

      $('.press-review-title').click(function(e) {
        setTimeout(function() {}, 10);
        $(this).closest('.dropdown-menu').fadeOut('slow', function(){
          $(this).hide();
        });
      });

    })
  </script>
<% end %>
