<div class="search-bar-xs <%= hidden_bar_class %>" id="<%= hidden_bar_id%>">
  <%= form_tag(articles_path, method: "get") do %>
    <div>
      <%= text_field_tag :topic_search, nil, placeholder: "", required: true, value: @topic_search, id: "topic-search-navbar" %>
      <%= button_tag "", class: "search-button" do %>
        <%= image_tag "icone/loupe.png", id: "loupe-navbar" %>
      <% end %>
    </div>
  <% end %>
</div>
