<% if @article_bookmarks.empty? %>

  <div class='container'>
    <div class="flex-box-space-around catchline wrapper-white font-header-app">
      <div>
        <h2 class= "font-header-app">Vous n'avez pas encore d'articles sauvegardés</h2>
        <h4 class= "font-header-app">Faites une recherche pour trouver des articles intéressants à lire, que vous pourrez ajouter à cette section :</h4>
      </div>
      <%= render 'shared/search_bar', value: "" %>
    </div>
    <%= link_to root_path do %>
      <%= image_tag "icone/hedgenews_logo.FF682F.png", class: "animate-logo" %>
    <%end%>
  </div>

<% else %>
  <div class="container">
    <div class="flex-box-space-around font-header-app">
      <div class = "wrapper-white">
        <div>
          <h2 id="number_articles_bookmarked" class="font-header-app" data-number="<%= @article_bookmarks.count %>">
            <%= pluralize(@article_bookmarks.count, 'article sauvegardé', plural: 'articles sauvegardés')%>
          </h2>
        </div>
      </div>
    </div>
    <div class="flex-box-center">
      <a href="#" class="btn btn-bordered btn-bordered-primary btn-bordered-primary-on-grey-background open-all">Lire tous les articles complets</a>
      <%= content_tag :div, class: "selected_urls", data: {url: @selected_urls} do %>
      <% end %>
    </div>
    <br>
  </div>

  <%= render 'shared/index_articles', value: @selected_articles %>

  <div class="container text-center">
    <%= link_to root_path do %>
      <%= image_tag "icone/rewind.FF682F.png", class: 'image-small' %>
    <%end%>
  </div>

<% end %>

<% content_for(:after_js) do %>
  <script>
    $(document).ready(function(){

      // window.scroll(0, 140);

      // $('#topic_search').click(function(){
      //   $(this).val("");
      // });

      console.log('number of articles saved');
      console.log($('.articles_bookmarked').data('number'));

      $('a.open-all').click(function(e) {
        e.preventDefault();
        $('.selected_urls').data('url').forEach(function(url_source) {
          window.open(url_source);
          // if(!win){
          //   //Broswer has blocked it
          //   alert('Please allow popups for this site');
          // }
        });
      });

      $('.unbookmark').click( function() {
        var nbarticle = $('#number_articles_bookmarked').data('number')
        nbarticle = nbarticle - 1;

        $('#number_articles_bookmarked').data('number', nbarticle);
        $(this).closest('.card').fadeOut('slow', function(){
          $(this).remove();
        });
        $('#number_articles_bookmarked').html(nbarticle + " article(s) sauvegardé(s)");
      });

      $('.press-review-title').click(function(e) {
        setTimeout(function() {}, 10);
        $(this).closest('.dropdown-menu').fadeOut('slow', function(){
          $(this).hide();
        });
      });


    })
  </script>
<% end %>
