<% if @articles_bookmarked.empty? %>

  <div class='container'>
    <div class="flex-box-space-around catchline wrapper-white font-header-app">
      <div>
        <h2 class= "font-header-app">Vous n'avez pas encore d'articles sauvegardés</h2>
        <h4 class= "font-header-app">Faites une recherche pour trouver des articles intéressants à lire, que vous pourrez ajouter à cette section :</h4>
      </div>
      <%= render 'shared/search_bar', value: "" %>
    </div>
    <%= link_to root_path do %>
      <%= image_tag "icone/hedgenews_logo.FF682F.png", class: "animate-logo" %>
    <%end%>
  </div>

<% else %>
  <div class="container">
    <div class="flex-box-space-around font-header-app">
      <div class = "wrapper-white">
        <div>
          <h2 id="number_articles_bookmarked" class="font-header-app"><%= pluralize(@articles_bookmarked.count, 'article sauvegardé', plural: 'articles sauvegardés')%></h2>
          <%= content_tag :div, class: "articles_bookmarked", data: {number: @articles_bookmarked.count} do %>
          <% end %>
        </div>
      </div>
    </div>
    <div class="flex-box-center">
      <a href="#" class="btn btn-bordered btn-bordered-primary btn-bordered-primary-on-grey-background open-all">Lire tous les articles complets</a>
      <%= content_tag :div, class: "selected_urls", data: {url: @selected_urls} do %>
      <% end %>
    </div>
    <br>
  </div>

  <div class='container'>
    <div class='row-fix'>
      <% @articles_bookmarked.each do |article| %>
        <div class='card'>
          <h3><%= link_to article.source_url, target: '_blank' do %></h3>
            <div class='image-article-card'>
              <% unless article.pic_url.nil?%>
                <%= image_tag article.pic_url %>
              <% end %>
            </div>
          <% end %>
          <div class="panel article-panel card-body">

            <div class="flex-box-space-between">
              <div>
                <%= image_tag "logo/logos_custom/#{article.source.name}-logo-black.png", width: "80px" %>
              </div>
              <div>
                <% if current_user %>
                  <div class="bookmark_form_container" data-story-id="<%= article.aylien_id %>">
                    <% if current_user.articles.include?(Article.find_by_aylien_id(article.aylien_id)) %>
                      <%= render 'articles/unbookmark_form', article: article %>
                    <% else %>
                      <%= render 'articles/bookmark_form', article: article, hash_source_url: @hash_source_url %>
                    <% end %>
                  </div>
                <% end %>
              </div>
            </div>

            <div class="panel-heading">
              <h3><%= link_to article.title, article.source_url, target: '_blank' %></h3>
              <h6>Publié il y a <%= distance_of_time_in_words(article.date, Time.now) %> <% if article.journalist.last_name != "" %>par <%= article.journalist.last_name %><% end %></h6></h6>
              <ul class= "list-inline">
                <li><i class="fa fa-clock-o" aria-hidden="true"></i></li>
                <li><h6><%= time_to_read(article.words_count) %></h6></li>
              </ul>

            </div>
            <div class="panel-body">
              <p><%= article.abstract %></p>
            </div>
            <div class="panel-body">
              <h6><strong>Contexte :</strong></h6>
              <h6>A propos de <%= Source.find(article.source_id).name  %></h6>
              <%= raw(Source.find(article.source_id).presentation) %>
            </div>
            <div class="flex-box-center">
              <%= link_to "Lire l'article complet", article.source_url, class: "btn btn-bordered btn-bordered-info", target: '_blank' %>
              <%= link_to "Découvrir une opinion différente", article.opposite_url, class: "btn btn-bordered btn-bordered-primary" , target: '_blank' %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>

  <div class="container text-center">
    <%= link_to root_path do %>
      <%= image_tag "icone/rewind.FF682F.png", class: 'image-small' %>
    <%end%>
  </div>

<% end %>

<% content_for(:after_js) do %>
  <script>
    $(document).ready(function(){

      // window.scroll(0, 140);

      // $('#topic_search').click(function(){
      //   $(this).val("");
      // });

      console.log('number of articles saved');
      console.log($('.articles_bookmarked').data('number'));

      $('a.open-all').click(function(e) {
        e.preventDefault();
        $('.selected_urls').data('url').forEach(function(url_source) {
          window.open(url_source);
          // if(!win){
          //   //Broswer has blocked it
          //   alert('Please allow popups for this site');
          // }
        });
      });

      $('.unbookmark').click( function() {
        var nbarticle = $('.articles_bookmarked').data('number')
        nbarticle = nbarticle - 1;

        $('.articles_bookmarked').data('number', nbarticle);
        console.log(nbarticle);
        $(this).closest('.card').fadeOut('slow', function(){
          $(this).remove();
        });
        $('#number_articles_bookmarked').html(nbarticle + " article(s) sauvegardé(s)");
      });


    })
  </script>
<% end %>
