
<div class="main-topic">

  <%= link_to articles_path(topic_search: topic.name) do %>
    <div class='main-topic-image' style='background-image: url(<%= image_path topic.image_url %>)' >
      <h1><%= topic.name %></h1>
    </div>
  <%end%>


  <div class="panel main-topic-legend">
    <div class="panel-body">
      <p class= "font-header-app"><%= topic.number_sources %> Sources</p>
      <div class="logo-source">
          <%= image_tag("logo/L'Humanité.png", :alt => "rss feed", height: 25, width: 70,) %>
          <%= image_tag("logo/LaTribune.jpg", :alt => "rss feed", height: 25, width: 50,) %>
          <%= image_tag("logo/Valeurs-Actuelles.jpg", :alt => "rss feed", height: 60, width: 100,) %>
      </div>
    </div>
  </div>
</div>
