<div class="topic-card">
  <div class="topic-card-image" style="background-image: url(<%= image_path topic.image_url %>)" >
    <h1><%= topic.name %></h1>
  </div>


  <div class="panel topic-card-legend">
    <div class="panel-body">
      <p class= "font-header-app"><%= topic.number_sources %></p>
      <div>
        <% topic.logos.split(" ").each do |logo| %>
          <%= image_tag logo, width: '60px' %>
        <% end %>
      </div>

      <!-- <a class="btn btn-primary" role="button" data-toggle="collapse" href="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
        Link with href
      </a> -->

      <p class="collapse" id="collapseExample"><%= topic.presentation %></p>
    </div>
  </div>

</div>
