<div class="topic-card">
  <div class="topic-card-image" style="background-image: url(<%= image_path 'Brexit.jpg' %>)">
  <div class="topic-card-image" style="background-image: url(<%= image_path topic.image_url %>)" >
    <h1><%= topic.name %></h1>
  </div>


  <div class="panel topic-card-legend">
    <div class="panel-body">
      <p class= "font-header-app">14 Articles  3 Sources</p>
      <div class="logo-source">
        <%= image_tag("logo/LePoint.jpg", :alt => "rss feed", height: 25, width: 60,) %>
        <%= image_tag("logo/Figaro.png", :alt => "rss feed", height: 80, width: 60,) %>
        <%= image_tag("logo/L'Express.png", :alt => "rss feed", height: 25, width: 70,) %>
      </div>

      <!-- <a class="btn btn-primary" role="button" data-toggle="collapse" href="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
        Link with href
      </a> -->

      <p class="collapse" id="collapseExample"><%= topic.presentation %></p>
    </div>
  </div>

</div>
