
<div class="topic-card">
  <%= link_to articles_path(topic_search: topic.name) do %>
    <div class="topic-card-image" style="background-image: url(<%= image_path topic.image_url %>)" >
      <h1><%= topic.name %></h1>

    </div>
  <%end%>

  <div class="panel">
    <div class="panel-body">
      <div class="topic-card-legend">
        <p class= "font-header-app"><%= topic.number_sources %> Sources</p>
        <p class="presentation"><%= topic.presentation %>
          <%= link_to "Découvrir le sujet", articles_path(topic_search: topic.name), class: "btn btn-bordered btn-bordered-primary"%>
        </p>
      <div class="logos-card">
        <% JSON.parse(topic.sources_json)["sources"].each do |source| %>
          <%= image_tag "logo/logos_custom/#{source}-logo-black.png", width: "75px", class: "logo-topic-card" %>
        <% end %>
      </div>
      </div>
    </div>
  </div>
</div>

