<div class="topic-card">
  <%= link_to articles_path(topic_search: topic.name) do %>
    <div class="topic-card-image" style="background-image: linear-gradient(135deg, rgba(0,0,0,0.8) 0%, rgba(0,0,0,0.2) 90%), url('<%= image_path topic.image_url %>')" >
      <h1><%= topic.name %></h1>

    </div>
  <%end%>

  <div class="panel">
    <div class="panel-body">
      <div class="topic-card-legend">
        <p class= "font-header-app"><%= topic.number_sources %> Sources</p>
          <div class="flex-box-center">
            <p class="presentation">
              <%= link_to "Découvrir le sujet", articles_path(topic_search: topic.name), class: "btn btn-bordered btn-bordered-primary"%>
            </p>
          </div>
      <div class="logos-card">
        <% JSON.parse(topic.sources_json)["sources"].each do |source| %>
          <%= image_tag "logo/logos_custom/#{source}-logo-black.png", width: "75px", class: "logo-topic-card" %>
        <% end %>
      </div>
      </div>
    </div>
  </div>
</div>

