<div class="flex-box-space-around">
  <div>
    <h1>Get news</h1>
    <h2>Make your own mind</h2>
  </div>


  <div class="search-bar">
    <%= form_tag(results_path, method: "get") do %>
      <div>
        <%= text_field_tag :topic, nil, placeholder: "Rechercher un sujet", require: true %>
        <%= button_tag "", class: "search-button" do %>
          <%= image_tag "loupe.png" %>
        <%end%>
      </div>
    <% end %>
  </div>

</div>


<%= render 'main_topic' %>

    <div class='row'>
      <div class='col-xs-12 col-sm-6 col-md-4'>
        <div class='text-center' >
          <h3 class='text-red'>Find</h3>
          <%= image_tag("loupe 2.png", :alt => "rss feed", height: 45, width: 50,) %>
          <p><strong>information from various sources</strong></p>
          <p>Traditionnal press, blogs and social media</p>
        </div>
      </div>
      <div class='col-xs-12 col-sm-6 col-md-4'>
        <div class='text-center' >
          <h3 class='text-red'>Discover</h3>
          <%= image_tag("eye.png", :alt => "rss feed", height: 45, width: 50,) %>
          <p><strong>significant topics</strong></p>
          <p>Trending topics but also the important ones that do not make headlines</p>
        </div>
      </div>
      <div class='col-xs-12 col-sm-6 col-md-4'>
        <div class='text-center' >
          <h3 class='text-red'>Analyse</h3>
          <%= image_tag("chart.png", :alt => "rss feed", height: 45, width: 50,) %>
          <p><strong>with our tools</strong></p>
          <p>Semantic analysis and context about what you're reading.</p>
        </div>
      </div>
    </div>

