<div class="container">

  <div class="flex-box-space-around catchline wrapper-white font-header-app">
    <div>
      <h2 class= "font-header-app">1 actualité a plusieurs sources</h2>
    </div>
    <%= render 'shared/search_bar', value: nil %>
  </div>

  <%= render 'main_topic', topic: @main_topic %>

  <div class="row">
    <% @topics.each do |topic| %>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <%= render 'topic_card', topic: topic %>
      </div>
    <% end %>
  </div>


  <div class='container value-proposition-style'>
    <div class='row font-oswald presentation-card'>
      <div class='col-xs-12 col-sm-6 col-md-4'>
        <div class='text-center' >
          <h3 class='text-red font-header-app'>S'informer</h3>
         <!--  <%= image_tag("icone/loupe 2.png", :alt => "rss feed", height: 45, width: 50,) %> -->
          <p><strong>sur les sujets d'actualité auprès de plusieurs sources</strong></p>
          <p>Presse traditionnelle, blogs <br>et réseaux sociaux</p>
        </div>
      </div>
      <div class='col-xs-12 col-sm-6 col-md-4'>
        <div class='text-center' >
          <h3 class='text-red font-header-app'>Découvrir</h3>
         <!--  <%= image_tag("icone/eye.png", :alt => "rss feed", height: 45, width: 50,) %> -->
          <p><strong>des sujets pertinents</strong></p>
          <p>Ceux qui font la une <br> mais aussi ceux qui sont moins médiatisés</p>
        </div>
      </div>
      <div class='col-xs-12 col-sm-6 col-md-4'>
        <div class='text-center' >
          <h3 class='text-red font-header-app'>Analyser</h3>
         <!--  <%= image_tag("icone/chart.png", :alt => "rss feed", height: 45, width: 50,) %> -->
          <p><strong>grâce à nos outils performants</strong></p>
          <p>Analyse sémantique et informations sur la source de chaque article, pour plus d'objectivité</p>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <h3 class="text-center">Nos sources :</h3>
      <%= render 'logos' %>
      <br>
      <br>
    </div>
  </div>

</div>

<% content_for(:after_js) do %>
  <script>
    $(document).ready(function(){
      var i = 0;
      window.setInterval(function(){
        // var topics = <%= @topic_names %>;
        var topics = ["Valls", "La Cop22", "Trump", "Park Geun-hye", "Le Brexit"];
        if ($('#topic_search').data('clicked') == true){
          $('#topic_search').attr('placeholder', "");
        }
        else{
          $('#topic_search').attr('placeholder', "Je forge mon opinion sur " + topics[i]);
          i = (i +1)%(topics.length);
        }
      }.bind(i), 1500);

      $('#topic_search').click(function(){
        $('#topic_search').data('clicked', true)
      });

    // $(".topic-card-legend").mouseenter(function(e){
    //     $card = $(this);
    //     $p = $card.find("#collapseExample");

    //     $p.removeClass("collapse");
    //     $p.addClass("collapsing");
    //     $p.removeClass("collapsing");
    //     $p.addClass("collapse.in");
    //   });

    //   $(".topic-card-legend").mouseleave(function(e){
    //     $card = $(this);
    //     $p = $card.find("#collapseExample");

    //     $p.removeClass("collapse.in");
    //     $p.addClass("collapsing");
    //     $p.removeClass("collapsing");
    //     $p.addClass("collapse");
    //   });

    })
  </script>
<% end %>
