<div class="container">

  <div class="flex-box-space-around catchline wrapper-white font-header-app">

    <div>
      <h2 class= "font-header-app">Je forge ma propre opinion sur : </h2>
    </div>

    <%= render 'shared/search_bar', value: nil %>

  </div>

  <%= render 'main_topic' %>

  <div class="container">
    <div class="row">
      <% @topics.each do |topic| %>
        <div class="col-xs-12 col-sm-6 col-md-4">

            <%= render 'topic_card', topic: topic %>

        </div>
      <% end %>
    </div>
  </div>

  <div class='container value-proposition-style'>
    <div class='row font-oswald presentation-card'>
      <div class='col-xs-12 col-sm-6 col-md-4'>
        <div class='text-center' >
          <h3 class='text-red font-oswald'>Find</h3>
         <!--  <%= image_tag("icone/loupe 2.png", :alt => "rss feed", height: 45, width: 50,) %> -->
          <p><strong>information from various sources</strong></p>
          <p>Traditionnal press, blogs and social media</p>
        </div>
      </div>
      <div class='col-xs-12 col-sm-6 col-md-4'>
        <div class='text-center' >
          <h3 class='text-red font-oswald'>Discover</h3>
         <!--  <%= image_tag("icone/eye.png", :alt => "rss feed", height: 45, width: 50,) %> -->
          <p><strong>significant topics</strong></p>
          <p>Trending topics but also the important ones that do not make headlines</p>
        </div>
      </div>
      <div class='col-xs-12 col-sm-6 col-md-4'>
        <div class='text-center' >
          <h3 class='text-red font-oswald'>Analyse</h3>
         <!--  <%= image_tag("icone/chart.png", :alt => "rss feed", height: 45, width: 50,) %> -->
          <p><strong>with our tools</strong></p>
          <p>Semantic analysis and context about what you're reading.</p>
        </div>
      </div>
    </div>
  </div>
</div>

<% content_for(:after_js) do %>
  <script>
    $(document).ready(function(){
      var i = 0;
      window.setInterval(function(){
        var topics = ["Valls", "Trump", "Cop22", "Le Brexit"];
        if ($('#topic_search').data('clicked') == true){
          $('#topic_search').attr('placeholder', "");
        }
        else{
          $('#topic_search').attr('placeholder', topics[i]);
          i = (i +1)%(topics.length);
        }
      }.bind(i), 800);

      $('#topic_search').click(function(){
        $('#topic_search').data('clicked', true)
      });
    })
  </script>
<% end %>
