
<div class="wrapper-white">
  <div class="team">

    <h1>L'Équipe</h1>
    <br>
    <div class="flex-box-space-around">

      <div>
        <%= link_to "https://www.linkedin.com/in/guillaumecabanel/fr", target: "_blank" do %>
          <%= image_tag 'profil/Guillaume.jpg', class: "avatar" %>
          <h5>
            Guillaume Cabanel &nbsp;
            <i class="fa fa-linkedin-square fa-2x"></i>
          </h5>
        <% end %>
      </div>

      <div>
       <%= link_to "https://uk.linkedin.com/in/isaure-troesch-91774b9a", target: "_blank" do %>
          <%= image_tag 'profil/Isaure.jpg', class: "avatar" %>
          <h5>
            Isaure Troesch &nbsp;
            <i class="fa fa-linkedin-square fa-2x"></i>
          </h5>
        <% end %>
      </div>

      <div>
        <%= link_to "http://www.hedgenews.eu", target: "_blank" do %>
          <%= image_tag 'icone/Herrisson.png', class: "avatar" %>
          <h5>
            Hedgy &nbsp;
            <i class="fa fa-linkedin-square fa-2x"></i>
          </h5>
        <% end %>
      </div>

      <div>
        <%= link_to "https://uk.linkedin.com/in/julie-moiton-101b31116/fr", target: "_blank" do %>
          <%= image_tag 'profil/Julie.jpg', class: "avatar" %>
          <h5>
            Julie Moiton &nbsp;
            <i class="fa fa-linkedin-square fa-2x"></i>
          </h5>
        <% end %>
      </div>

      <div>
        <%= link_to "https://fr.linkedin.com/in/raphaëlle-coudin-891842a3", target: "_blank" do %>
          <%= image_tag 'profil/Raph.jpg', class: "avatar" %>
          <h5>
            Raphaëlle Coudin &nbsp;
            <i class="fa fa-linkedin-square fa-2x"></i>
          </h5>
        <% end %>
      </div>


    </div>

  </div>
</div>
